.feynman__link {
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  position: absolute;
  background-size: cover;
  top: 50%;
  right: 48px;
  text-decoration: none;
  display: inline-block;
}

.feynman__link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #2f80ed;
}

.feynman__link:hover::after {
  width: 100%;
}
