.page {
  max-width: 1280px;
  min-width: 320px;
  font-family: 'Roboto', 'Arial', sans-serif;
  background: #1B2944;
  color: white;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 73.75%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 113px;
}

.header__logo {
  width: 100px;
  height: 28px;
}

.social-links {
  margin: 0;
  padding: 0;
}

.social-links__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.social-links__item {
  margin-right: 21px;
}

.social-links__item:last-child {
  margin-right: 0;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.features {
	padding: 64px 168px 92px;
	background-color: rgba(20, 31, 53, 1);
}

.features__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
	margin: 0 0 80px 0;
}

.features-block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 63px;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.storage-block {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, auto);
	justify-content: space-between;
	min-height: 207px;
	margin: 0;
}

.storage-block__img {

}

.storage-block__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
	margin: 0;
}

.storage-block__subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #FFFFFF;
	min-height: 90px;
	white-space: pre-line;
	margin: 0;
}

.portfolio {
	min-height: 400px;
	padding: 64px 168px;
}

.portfolio__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
	margin: 0 0 auto 0;
}

.portfolio__cards {
	display: flex;
	flex-direction: row;
	margin: 54px 0 0 0;
	padding: 0;
}

.portfolio__card {
	display: block;
	width: 304px;
	min-height: 304px;
	position: relative;
	overflow: hidden;
	background-image: linear-gradient(#c4c4c400, #213e60);
	margin: 0 16px 0 0;
	list-style-type: none;
}

.portfolio__card:nth-of-type(3n) {
	margin: 0;
}

.portfolio__background {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.portfolio__subtitle {
	max-width: 170px;
	position: absolute;
	top: 172px;
	left: 30px;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	margin: 0;
	white-space: pre-line;
}

.portfolio__button {
	position: absolute;
	bottom: 28px;
	left: 30px;
	width: 120px;
	height: 36px;
	text-decoration: none;
	color: #FFFFFF;
	text-align: center;
	line-height: 36px;
	display: block;
	background-color: #EC1F46;
	border-radius: 5px;
	border: none;
	transition: background-color .4s linear;
}

.portfolio__button:hover {
	cursor: pointer;
	background-color: #d40b30;
}

.gallery {
	width: 73.75%;
	margin: 0 auto;
	padding: 96px 168px;
	background-color: rgba(20, 31, 53, 1);
}

.gallery-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 224px 225px 224px;
	gap: 16px;
	list-style-type: none;
	margin: 0;
}

.gallery-list__item {
	box-sizing: border-box;
	margin: 0;
	position: relative;
	padding: 0;
	margin: 0;
}

.gallery-list__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-list__time {
	position: absolute;
	top: 8px;
	right: 28px;
	max-width: 51px;
	min-height: 15px;
	z-index: 1;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	margin: 0;
}

.gallery-list__play-circle-filled {
	position: absolute;
	top: 9.34px;
	right: 9.34px;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 71px;
}

.hero__main-text {

}

.hero__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: calc (28 / 24);
  color: #FFBB01;
  margin: 37px 0 13px;
  padding: 0;
}

.hero__title {
  font-weight: 700;
  font-size: 50px;
  line-height: calc(59 / 50);
  margin: 0 0 20px;
  padding: 0;
}

.hero__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(28 /16);
  margin: 0 0 38px;
  padding: 0;
  max-width: 444px;
}

.hero__button {
  font-weight: 700;
  font-size: 12px;
  line-height: calc(15.6 /12);
  text-transform: uppercase;
  color: #1B2944;
  background-color: #FFBB01;
  display: block;
  text-align: center;
  padding: 25px 0;
  box-shadow: 0px 4px 0px #B68500;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  transition: background-color .4s linear;
}

.hero__button:hover {
  cursor: pointer;
  background-color: orange;
}

.hero__button_place_main {
  width: 300px;
}

.hero__avatar {
  max-width: 362px;
  object-fit: cover;
  height: 362px;
  border-radius: 50%;
  border: 11px solid white;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 93px;
}

.user-contacts {
  width: 50%;
  padding-right: 14px;
  box-sizing: border-box;
}

.user-contacts__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 /36);
  margin: 0 0 90px;
  padding: 0;
}

.form {
  background-color: white;
  box-shadow: -5px 5px 0px #FFC41D;
  border-radius: 5px;
  padding-bottom: 61px;
}

.form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(28 /18);
  color: black;
  margin: 0 auto 35px;
  padding: 47px 0 0;
  max-width: 380px;
  text-align: center;
}

.form__user-info {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 30px;
  border: none;
}

.form__item {
  width: 380px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 28px 25px 25px 52px;
  box-sizing: border-box;
  position: relative;
  background-color: #F8F8F8;
  border: none;
  transition: background-color .4s linear;
}

.form__item:hover {
  background-color: #fff1cc;
}

.form__item:active,
.form__item:focus {
  outline: 1px solid #FFBB01;
}

.form__item_type_name {
  background-image: url(./images/user-icon.svg);
  background-repeat: no-repeat;
  background-position: 22px 27px;
}

.form__item_type_phone {
  background-image: url(./images/phone-icon.svg);
  background-repeat: no-repeat;
  background-position: 22px 27px;
}

.form__item:last-child {
  margin-bottom: 0;
}

.form__item::placeholder,
.form__item::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(28 / 14);
  color: #949494;
}

.hero__button_place_footer {
  width: 380px;
  display: block;
  margin: 0 auto;
}

.hero-contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 50%;
  padding-top: 131px;
  padding-left: 88px;
  box-sizing: border-box;
}

.contacts-data {
  margin-bottom: 32px;
}

.contacts-data_content_phone {
  margin-right: 116px;
}

.contacts-data_content_phone:last-child {
  margin-right: 0;
}

.hero-contacts__title {
  font-size: 24px;
  font-weight: 700;
  line-height: calc(28 / 24);
  margin: 0 0 20px;
}

.hero-contacts__text {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(28 / 16);
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
  transition: opacity .4s linear;
}

.hero-contacts__text:hover {
  text-decoration: underline;
  opacity: .6;
}

.social-links__list-item {
  margin-right: 50px;
}

.social-links__list-item:last-child {
  margin-right: 0;
}

.social-links__list_place_footer {
  margin-bottom: 32px;
}

.social-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(28 / 16);
  transition: opacity .4s linear;
}

.social-link:hover {
  text-decoration: underline;
  opacity: .6;
}

.footer__privacy {
  color: #949494;
  font-size: 15px;
  font-weight: 400;
  line-height: calc(17.58 / 15);
  margin-top: 197px;
  display: block;
  transition: color .4s linear;
}

.footer__privacy:hover {
  color: white;
}
