.footer__link {
  color: white;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: lighter;
  transition: .3s linear;
}

.footer__link:hover {
  opacity: 0.5;
}
