.cards__item {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin: 0px 100px 0px 0px;
}

.cards__item:nth-of-type(3n) {
  margin: 0px;
}

.cards__item:nth-of-type(5n) {
  margin: 0px;
}
